.5e470ba6bd75fe36cfb066a2ec9bc636cf0a97d7{display:block;}.dc271516243b44834332a16be9c0242e8548e090{display:block;}.7996b6c2c5869239141b49a3c7464bab4b1ace02{display:block;}.bebf371d3ef8b602cbbcef5264deb69a67788e37{display:block;}.fa43bcf048ed88201094efd9f5f7c9f62a91c548{display:block;}.87d9ad2678a7e802bbf58983461fb6ab707891d7{display:block;}.450770b63682bf05b0cb7846545db1ebab1995e9{display:block;}.b8bf86ed0b32dbf783a0d666145baf694b5f2c76{display:block;}.0a59477163825df3c033e1d3828e7fad35f64597{display:block;}.c580434357509edb432d1ab49a70a83fb152cc83{display:block;}.53ce7dcfdd03991f936faad1c29992d55460324b{display:block;}.a6430c2d22f8bb471083a357b4545c43f0047274{display:block;}.63c7eceff36389f5411f5a2506b05304bdfa8fd8{display:block;}.ad26708793afb239926160e2800f139a08dc9848{display:block;}.3cd59d5b7010cc811c111155f588534928e64fd9{display:block;}.f26e75098816c8d3d01258a323d2958ef612402d{display:block;}.a54dd91aa9613e63da0537a2093c617acc91f0f3{display:block;}.8494d259c6595cd2ac6f840a7962decd6b7cc914{display:block;}.18875c3be79ff972e23437c05d0f137826ffac76{display:block;}.4f7956986e3fc6075377b80f64f3c67abf7e46d9{display:block;}.c39bff6720a825544ee475ff9069a8c52a176a97{display:block;}.453103f8cf46bcdf3e74dbff35697071439d9c38{display:block;}.29ab85a1da31979fb599605320d57cabbe650e74{display:block;}.72a2c600ea540cb8f867570ce27f401cc4ff7a07{display:block;}.1db88bb0add725022c7b0e3c27037c5d41695886{display:block;}.f4994386f4e572c37538a4519bd5cc3beb33fd72{display:block;}.daf5951a24de8adfd3db46513947fd175d0bd9e4{display:block;}.7753d4bff12b1c06cb77006001a5cee548905328{display:block;}.9f381bd0c54d959a1432191144c221abe4d59297{display:block;}.1c43cc9e56a506ad42391083fa250f215b9a1198{display:block;}.8a256a26dd090d3a80f3cc99d5b2f60c46688498{display:block;}.3ffa29c3c50c318b473e27280a06bcb93aa9b8e6{display:block;}.6d7683f32000bf4d81b70eec29adba12112a3882{display:block;}.49d0e34d83d74176291cf0329b88f738ff977a17{display:block;}.f5b810664322c06df129cbedf5dc23200c0cdc11{display:block;}.4528ff627e8c4daf6bd844ec165c02b1b6ee28d1{display:block;}.bfa15d2518cfb76baa46cc047e26cdb3c003aefb{display:block;}.88d926cff48112c99a5416ff3a9ff198da8cb2a8{display:block;}.3c3c916d8347dd8857494467b53ab2b44df85e8a{display:block;}.15dd0c44d4c576104599f4a9deceaaf1de035387{display:block;}.03dba086ce951f61ac204465bb750ec99b98afda{display:block;}.623d7691eb00008de3af8ab0cf1a45b35d17b538{display:block;}.b7cd98d6c541163c7741fb35cbb748ad3e618183{display:block;}.6526c1f0e6c2c90228e3c6682842ff9215b8b1e3{display:block;}.2b9a4e26b452272178ca8d24a6325e24f0c08e02{display:block;}.f2ab668a1cb83eecf3e07f4853269d6051773d33{display:block;}.da52cfbc70771adcc92f138ac48baf7e9cadcc8b{display:block;}.4a8ed74feacc62d3f0e0b391f0c68ce727207d80{display:block;}.251ca41af8d9f925afdc8d0ecb98d871c33825d2{display:block;}.ed3d0f97651f7d19bdedfd5b05db24baa02248c5{display:block;}.d84bba1adc4fec08ce7501fe24403785e914531e{display:block;}.c5d2a55775937908ba044e61ccf037871bc7e13a{display:block;}.c99d462bd39a29af7898c501a06ce5e6c162e230{display:block;}.15b35cc0bd28fbd8f3fdf8be796a60493d3d647a{display:block;}.6551ade23c679bd1c0ba2114e45cea834ef4463a{display:block;}.80fb5dd2fcf83b3f5391192ab73321cc23cbad13{display:block;}.5ef95135db584d5dc7045ee7149b572b6f2982c2{display:block;}.fec219e527682205ab0bafee5756fbb07c0664b6{display:block;}.32ac91fb20fc0a42575bc4e17155f3381d090c1d{display:block;}.8bd1a03427969e4c938274a03c5b7efb17d22330{display:block;}.5b3426a401d5e51e03bf8fe588db42ebd361ff8a{display:block;}.41f70c55c5e153899c37353661ff57828a7f40cc{display:block;}.91199c398d165b5329210cc438613d74c7739a09{display:block;}.87c6d5f30d5038fe1cbd8dc47705f507e7e308ae{display:block;}.53957c896004cb0930c6360bc0f0113cd53e61fd{display:block;}.d8dffdb0aa2c8badd15309935c40c672b983fecf{display:block;}.7981f344feb75185612f47c7d127f1062749f0df{display:block;}.56235bc4c67044fe043ec187f6f7654c2151e4b3{display:block;}.fba4cd68beaa42f87ae7786dbcde196a44c0f2c9{display:block;}.89baa1df1b2251885e27b866a752ca81f1e54f96{display:block;}.8dad775e14480110f82bcfd9f57dafce1e838e03{display:block;}.cb04b55876bc37941288f9782873ceaba4d32946{display:block;}@charset "UTF-8"

#sketch {
   width: 100%;
   text-align:center;
}
html, body {
    font-family: "-apple-system" !important;
    font-weight: normal;
    -webkit-text-size-adjust: none;
    margin: 0;
    cursor: default
}

.x-scroll-indicator.rounded > :nth-child(2) {
    background: #333;
    content: '';
}

 /* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-button-icon.chart3:before,.x-button .x-button-icon.chart3:before {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-align:center;
        content:"Y"
    }

.x-tab .x-button-icon.chart2:before,
.x-button .x-button-icon.chart2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "Y";
}


/* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-tab .x-button-icon.docs_black2:before,
.x-button .x-button-icon.docs_black2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "k";
}
/* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-tab .x-button-icon.spades:before,
.x-button .x-button-icon.spades:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "IcoMoon";
  content: '\21';
}

.rules {
    /* ffont-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif; */
    font-family: '-apple-system';
}
.rules i {
    font-weight: bold;
    color: #00A;
  font-style: normal;
}
.rules b {
    font-size: 16px;
    font-weight: bold;
    color: #A00;
}
.rules strong {
    font-weight: bold;
    color: rgb(240, 80, 0);
 }
h1 {
    font-weight: bold !important;
    font-size: 18px !important;
    margin-bottom: 4px !important;
}
h2 {
    font-weight: bold !important;
    font-size: 16px !important;
    margin-bottom: 4px !important;
}
h3 {
    font-weight: bold !important;
    font-size: 14px !important;
    margin-bottom: 4px !important;
}

.rules ul li {
    padding-bottom: 8px;
    list-style-image: none;
    list-style-type: none;
    list-style-position:inside;
}

#ext-title-3, #ext-title-6, #ext-title-7, #ext-title-10 {
  background-color: #f0f0f0;
  margin: 0;
  padding: 12px;
}

.x-field .x-input-radio:after,
.x-field.x-item-disabled .x-input-radio:checked:after {
    content: "";
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    top: 50%;
    left: auto;
    right: 1.1em;
    -webkit-mask-image: url();
    margin-top: -0.7em;
    border-radius: 15px;
}
.x-field .x-input-radio:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: 1.1em;
    -webkit-mask-image: url();
    margin-top: -0.7em;
    border: 5px solid #dddddd;
    border-radius: 15px;
}

.fst {
    font-size: 14px;
    text-transform:uppercase;
    white-space: nowrap;
}

table.statsummary td, th {
    font-size: 12.5px;
    text-align:right;
}

.valbetter {
    color:rgb(5, 75, 5)
}
.valworse {
    color:rgb(82, 4, 4)
}