.8dad775e14480110f82bcfd9f57dafce1e838e03{display:block;}.cb04b55876bc37941288f9782873ceaba4d32946{display:block;}@charset "UTF-8"

#sketch {
   width: 100%;
   text-align:center;
}
html, body {
    font-family: "-apple-system" !important;
    font-weight: normal;
    -webkit-text-size-adjust: none;
    margin: 0;
    cursor: default
}

.x-scroll-indicator.rounded > :nth-child(2) {
    background: #333;
    content: '';
}

 /* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-button-icon.chart3:before,.x-button .x-button-icon.chart3:before {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-align:center;
        content:"Y"
    }

.x-tab .x-button-icon.chart2:before,
.x-button .x-button-icon.chart2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "Y";
}


/* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-tab .x-button-icon.docs_black2:before,
.x-button .x-button-icon.docs_black2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "k";
}
/* line 260, /Users/jamieavins/git/SDK/touch/resources/themes/stylesheets/sencha-touch/base/mixins/_Class.scss */
.x-tab .x-button-icon.spades:before,
.x-button .x-button-icon.spades:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "IcoMoon";
  content: '\21';
}

.rules {
    /* ffont-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, 'BBAlpha Sans', sans-serif; */
    font-family: '-apple-system';
}
.rules i {
    font-weight: bold;
    color: #00A;
  font-style: normal;
}
.rules b {
    font-size: 16px;
    font-weight: bold;
    color: #A00;
}
.rules strong {
    font-weight: bold;
    color: rgb(240, 80, 0);
 }
h1 {
    font-weight: bold !important;
    font-size: 18px !important;
    margin-bottom: 4px !important;
}
h2 {
    font-weight: bold !important;
    font-size: 16px !important;
    margin-bottom: 4px !important;
}
h3 {
    font-weight: bold !important;
    font-size: 14px !important;
    margin-bottom: 4px !important;
}

.rules ul li {
    padding-bottom: 8px;
    list-style-image: none;
    list-style-type: none;
    list-style-position:inside;
}

#ext-title-3, #ext-title-6, #ext-title-7, #ext-title-10 {
  background-color: #f0f0f0;
  margin: 0;
  padding: 12px;
}

.x-field .x-input-radio:after,
.x-field.x-item-disabled .x-input-radio:checked:after {
    content: "";
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    top: 50%;
    left: auto;
    right: 1.1em;
    -webkit-mask-image: url();
    margin-top: -0.7em;
    border-radius: 15px;
}
.x-field .x-input-radio:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: 1.1em;
    -webkit-mask-image: url();
    margin-top: -0.7em;
    border: 5px solid #dddddd;
    border-radius: 15px;
}

.fst {
    font-size: 14px;
    text-transform:uppercase;
    white-space: nowrap;
}

table.statsummery td, th {
    font-size: 12.5px;
    text-align:right;
}
